<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <property name="connection.url">jdbc:mysql://localhost:3306</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>

    <mapping class="hibernate.MessageEntity"/>
    <mapping resource="hibernate/MessageEntity.hbm.xml"/>
    <mapping class="hibernate.ContactEntity"/>
    <mapping class="hibernate.PhoneEntity"/>
    <mapping class="hibernate.PrimaryphoneEntity"/>
    <mapping resource="hibernate/ContactEntity.hbm.xml"/>
    <mapping resource="hibernate/PhoneEntity.hbm.xml"/>
    <mapping resource="hibernate/PrimaryphoneEntity.hbm.xml"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>